.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* 
.subcont{
    width: 300pt;
    height: 40px;
    padding: 10px;
    align-items: stretch; */

} 